.amazon_item
  float: none !important

@for $i from 1 through 10
  ##{item__id}_#{$i}
    width: 100% !important
    margin-left: 0 !important
    margin-top: 10px !important

.item_header__price
  font-size: 46px
  float: none !important
  width: 100% !important
  text-align: left

.item_header__link
  width: 100% !important

.links_link
  display: block !important
  width: 96% !important
  border-radius: 5px

.title-big, .title-small
  display: none
