.header-logo
  width: 100% !important
  text-align: center

.header-search
  width: 100% !important

.header-search--input
  width: 100% !important
  float: none !important

.header-search--select
  width: 100% !important
  float: none !important
  background-position: right 10px center

.header-nav
  float: left
