@import './variables'

.links_link
  text-decoration: none
  color: $color-green
  padding: 10px
  margin-left: 2%
  background: #fff
  border-top-left-radius: 5px
  border-top-right-radius: 5px

  width: 20%

  &:hover
    border-top: 1px solid $color-blue
    border-left: 1px solid $color-blue
    border-right: 1px solid $color-blue
    box-shadow: inset  0 1px 5px $color-blue
    padding: 9px
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease
    -o-transition: all 0.2s ease
    transition: all 0.2s ease

.link_is_active
  border-top: 1px solid $color-blue
  border-left: 1px solid $color-blue
  border-right: 1px solid $color-blue
  box-shadow: inset  0 1px 5px $color-blue
  padding: 9px
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  -o-transition: all 0.2s ease
  transition: all 0.2s ease

  position: relative
  bottom: -2px
  z-index: 9

.link__image
  margin-right: 4px

.link__image_review
  position: relative
  top: 2px

.tabs__links
  border-bottom: 1px solid $color-blue
  padding-bottom: 10px
  display: block
  text-align: center




.tabs__sections
  height: 435px
  overflow: scroll

// Tabs Section default condition

.section__reviews
  display: none

.section__youtube
  display: none
  font-size: 0

.section__social
  display: none

.tab_section
  padding: 10px

.youtube__video
  margin-top: 10px


//tabs inner
.soc_tabs_google
  display: none

.section__price
  display: none

.soc_tabs_links
  float: left
  width: 30%


.soc_tab__tw
  display: block
  padding: 10px
  text-decoration: none
  color: #0ea4dc
  border-bottom: 1px solid $color-blue
  position: relative
  left: -10px
  top: -10px

.soc_tab__gl
  display: block
  padding: 10px
  text-decoration: none
  color: #ff3c08
  border-bottom: 1px solid $color-blue
  position: relative
  left: -10px
  top: -29px

.social_is_active
  background: #edf2f8

.link__image_google
  margin-bottom: -3px

.soc_tabs_section
  float: right
  width: 70%

.upload
  height: 435px
  width: 100%
  background: rbga(255,255,255,0.2)
  display: block

.image_upload
  margin-top: 100px
  margin-left: 40%
  width: 20%
  animation: spin 2s linear infinite
  -webkit-animation: spin 2s linear infinite
  -moz-animation: spin 2s linear infinite


@-moz-keyframes spin
  100%
    -moz-transform: rotate(360deg)

@-webkit-keyframes spin
  100%
    -webkit-transform: rotate(360deg)

@keyframes spin
  100%
    -webkit-transform: rotate(360deg)
    transform:rotate(360deg)
