%header.full-width
  .header-logo
    =link_to root_path do
      = image_tag 'logo.png', class: 'header-logo--image'
  .header-search.grid
    .header-search-icon.r_hide
    = form_tag index_home_path, :method => 'get', :id => "search" do
      %span.search-input-description
        %span.r_hide Searching for
      = text_field_tag :query, params[:query], placeholder: "Search query", class: 'header-search--input'
      .hide= submit_tag "Search", :name => nil, id: 'search'
      .clearfix
  %nav.header-nav
    %ul
      %li=link_to 'About', static_about_path, class: 'header-nav--link'
      %li=link_to 'Contact', static_contact_path, class: 'header-nav--link'
      %li=link_to 'Privacy Policy', static_privacy_path, class: 'header-nav--link'
  .clearfix
