

.amazon-items.l-grid

  .title-big
    = params[:query].to_s.capitalize
  .title-small
    Similar Items
  .clearfix

  - if @items_iterator
    - @items_iterator.each do |key, val|
      .hide= @items_val = val
    .hide= i = 0
    -@items_val.each do |k|
      .hide=i=  i + 1
      %div{ :class=> 'amazon_item', id:'item__id_'+i.to_s}
        .item_header
          = link_to k['ItemAttributes']['Title'],k['DetailPageURL'], class: 'item_header__link'
          -#
            - if i == 1 || i == 6
              - if k['OfferSummary'] && k['OfferSummary']['LowestNewPrice']
                %p.item_header__price
                  %sup $
                  = k['OfferSummary']['LowestNewPrice']['FormattedPrice'].to_s.gsub!('$','')
              - else
                %p.item_header__price
          .clearfix
        .item_body
          .image__container
            - if k['LargeImage']
              = image_tag k['LargeImage']['URL'], class: 'item_body__image'
            - else
              %p='No photo for this image'
          .show_for_side
            .side_price
              - if k['OfferSummary'] && k['OfferSummary']['LowestNewPrice']
                %sup $
                = k['OfferSummary']['LowestNewPrice']['FormattedPrice'].to_s.gsub!('$','')
            = link_to 'Details', '#',  class: 'js_details_button', id: 'js_details_button_'+i.to_s

          .tabs
            .tabs__links
              = link_to  '#',class: 'links_link link__description link_is_active' do
                = image_tag 'description-icon.png', class: 'tab__section_link_description link__image'
                %span.link__text Description
              = link_to  request.url+"&stw=#{k['ItemAttributes']['Title']}&asin=#{k['ASIN']}", class: 'links_link link__youtube social_button_'+i.to_s, id:'get_social', :remote => true do
                = image_tag 'youtube-icon.png', class: 'tab__section_link_youtube link__image'
                %span.link__text Youtube
              = link_to  request.url+"&stw=#{k['ItemAttributes']['Title']}&asin=#{k['ASIN']}", class: 'links_link link__social social_button_'+i.to_s, id:'get_social', :remote => true do
                = image_tag 'social-icon.png', class: 'tab__section_link_social link__image'
                %span.link__text Social
              = link_to request.url+"&asin=#{k['ASIN']}&stw=#{k['ItemAttributes']['Title']}",class: 'links_link link__reviews social_button_'+i.to_s, id:'get_social', :remote => true do
                = image_tag 'reviews-icon.png', class: 'tab__section_link_review link__image link__image_review'
                %span.link__text Reviews
              = link_to '#',class: 'links_link link__price', id:'get_price', :remote => true do
                %span.link__text Price
            .tabs__sections
              .tab_section.section__description
                %p
                  %h3= k['ItemAttributes']['Title']
                  %br

                  -if k['SalesRank']
                    Sales Rank:
                    %strong= k['SalesRank']
                %br

                .reviews
                  - if k['EditorialReviews']
                    - k['EditorialReviews']['EditorialReview'].each_with_index do |a, index|
                      .review= a[1].to_s.html_safe
              .tab_section.section__price
                - if k['OfferSummary'] && k['OfferSummary']['LowestNewPrice']
                  %h2= k['OfferSummary']['LowestNewPrice']['FormattedPrice']
              .tab_section.section__youtube
                .uploadr
                  = image_tag "uploader.png", class:"image_upload"
              .tab_section.section__social
                .upload
                  = image_tag "uploader.png", class:"image_upload"
                .soc_tabs
                  .soc_tabs_links
                    = link_to  '#',class: 'soc_tab__tw' do
                      = image_tag 'twitter-icon.png', class: 'tab__section_link_description link__image'
                      %span.link__text Twitter
                    %br
                    = link_to  '#',class: 'soc_tab__gl' do
                      = image_tag 'google-icon.png', class: 'tab__section_link_description link__image link__image_google'
                      %span.link__text Google
                  .soc_tabs_section
                    .soc_tabs_twitter
                    .soc_tabs_google

              .tab_section.section__reviews
                = image_tag "uploader.png", class:"image_upload"
          //%div{class:'socials_feed_'+i.to_s}
          :javascript
            $(document).ready(function(){
                $('.social_button_#{i.to_s}').click(function(){
                    localStorage.setItem('item_count', #{i});
                });
                $('.link_reviews_#{i.to_s}').click(function(){
                    localStorage.setItem('item_count', #{i});
                });
            });
        - if k['ASIN']
          .hide.item_asin= k['ASIN']
    .clearfix

  :coffeescript
    $(".link__social, .link__youtube, .link__reviews").click ->
      $('.upload').show()
      $('.soc_tabs').hide()
