@media screen and (max-width:768px)
  .search--logo-container
    width: 100% !important
    margin: 0
    padding: 5px
    float: none !important
    text-align: center
  .r_hide
    display: none


  .search
    width: 100% !important
    top: 0 !important

  .search-body
    width: 100% !important
    padding: 5px
    text-align: center
    box-shadow: none !important

  .search-select
    width: 100% !important
    border-radius: 5px !important
    margin: 0 auto !important
    background-position: right 10px center !important

  .search-input
    width: 100% !important
    border-radius: 5px !important
    margin: 10px auto !important
    position: relative
