
.hide
  = @asin = params[:asin]
  - if @asin
    =@asin
  - else
    =@asin = '11111111'
  = rev = Vacuum.new
  = rev.configure(aws_access_key_id: 'AKIAJY35B3LNL425ROFQ',aws_secret_access_key: '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',associate_tag:'coffee')
  = params = {'ItemId' => @asin.to_s, 'ResponseGroup' => 'Reviews','ItemPage' => 1}

  .hide= rev_res = rev.item_lookup(query: params)
  = url = rev_res.to_h
  = iframe = url['ItemLookupResponse']['Items']['Item']['CustomerReviews']['IFrameURL']

%iframe{:src => "#{iframe}", width: '100%', height: '400px' }
