.hide= @r = GooglePlus::Activity.search('Review ' + params[:stw], 'maxResults' => 5)
.hide=i = 0
- @r.each do |google|
  .hide= i = i + 1
  =link_to google.title, google.url, target: '_blank', class: 'google_link'
  - if i > 4
    - break
