=@client_inst = Instagram.client(:access_token => session[:access_token])

=@tags = @client_inst.tag_search(params[:stw])


-if @tags.empty?
  %p Bad
-else
  = @tags[0].media_count
  -for media_item in @client_inst.tag_recent_media(@tags[0].name)
    =image_tag media_item.images.thumbnail.url
