.tweets_block
  = @client.search('"Review ' + params[:stw] + '"').take(5).collect do |tweet|
    .tweet
      =image_tag tweet.user.profile_image_url, class: 'twitter_avatar'
      .twitter_content
        .twitter_user_name=tweet.user.screen_name
        .twitter_time= time_ago_in_words(tweet.created_at)
        .clearfix
        .twitter_text= tweet.text
        -tweet.urls.each do |t|
          =link_to t.to_h[:url], t.to_h[:url], class: 'twitter_link'
        %br
      .clearfix
