.hide=@youtube_search = @client_youtube.videos_by(:query => 'Review ' + params[:stw], :per_page => 5)
- if @youtube_search
  .hide=@youtube = @youtube_search.videos
  -if @youtube.empty?
    %p No videos
  -else
    .hide=loop = [0,1,2,3,4]
    -loop.each do |i|
      -if @youtube[i].nil?
      -else
        %br
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/#{@youtube[i].video_id.to_s.gsub!('tag:youtube.com,2008:video:','')}", width: "560", class: 'youtube__video'}
        %br
