var item = localStorage.item_count;

$('.social_button_'+item).parent().parent().children('.tabs__sections').children('.section__social').children('.soc_tabs').children('.soc_tabs_section').children('.soc_tabs_twitter').html("<%=j render :partial => 'twitter' %>");
$('.social_button_'+item).parent().parent().children('.tabs__sections').children('.section__youtube').html("<%=j render :partial => 'youtube' %>");

$('.social_button_'+item).parent().parent().children('.tabs__sections').children('.section__social').children('.soc_tabs').children('.soc_tabs_section').children('.soc_tabs_google').html("<%=j render :partial => 'google_plus' %>");

$('.social_button_'+item).parent().parent().children('.tabs__sections').children('.section__reviews').html("<%=j render :partial => 'amazon_review' %>");


var loaded = true;

if (loaded === true) {
  $('.upload').hide();
  $('.soc_tabs').show();
}
