.l-wrapper
  .animate
  .animate.animate-one
  .animate.animate-second
  .animate.animate-third
  .search
    .search-header
      .search--logo-container.r_full-width
        =image_tag 'logo-white.png', class: 'search--logo-image'
      .search--description.r_hide
        Only best deals!
      .clearfix
    .search-body
      = form_tag index_home_path, :method => 'get', :id => "search" do
        = text_field_tag :query, params[:query], placeholder: "Apple iMac, Kindle Fire, etc", class: 'search-input search-reset', required: true, autofocus: true
        = submit_tag "Search", :name => nil, id: 'search', class: 'search-submit search-reset'


        .clearfix
