html
  height: 100%

body
  padding: 0
  margin: 0
  height: 100%
  font-family: 'Lato', sans-serif
  background: #ecf0f6

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.clearfix
  clear: both
  display: table
  content: ''

.full-width
  width: 100%

.grid
  width: 800px
  float: left

img
  max-width: 100%
