.l-SearchResults

  = render partial: 'index/partial/header'
  %br
  %br
  .full-width
    .amazon_item.static_layout
      .item_header
        %h2.item_header-h2 About Us
      .item_body.item_body_padding-30
        BuyProofed.com was created to take all of the hassle out of getting the information you need to make an informed decision on the products, projects, fashion, etc you are looking to spend your hard earned money on. Our goal is to get the most relevant information to you in a unique and easily viewed way. No need to spend hours of research skipping through multiple websites. Find it all in one place at BuyProofed.com. We are always looking to improve, and who better than our users to let us know how to, so feel free to drop us an email anytime with your thoughts. Thanks for checking out BuyProofed.com.
