.l-SearchResults

  = render partial: 'index/partial/header'
  %br
  %br
  .full-width
    .amazon_item.static_layout
      .item_header
        %h2.item_header-h2 Privacy Policy
      .item_body.item_body_padding-30
        BuyProofed.com Privacy Policy - We will not rent, sell, loan, trade, or give away your name, address, email address, credit card information or personal information to any third party for marketing purposes without your permission. That pretty much says it all. If you have purchased from our store or subscribed to one of our newsletters, or entered a contest we may occasionally update you via email of special opportunities.
