.l-SearchResults

  = render partial: 'index/partial/header'
  %br
  %br
  .full-width
    .amazon_item.static_layout
      .item_header
        %h2.item_header-h2 About Us
      .item_body.item_body_padding-30
        We always want to hear from our users, so feel free to contact us anytime at -
        =link_to 'Buyproofed@gmail.com' , 'mailto:buyproofed@gmail.com'
