@import './variables'

.amazon_item
  float: left
  border-radius: 5px
  background: #fff
  box-shadow: 0 0 10px #e6eaf1

.item_header
  background: #f6f9fd
  padding: 10px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  border-bottom: 1px solid #e9eff7

.item_header__link
  color: $color-grey-dark
  text-decoration: none
  width: 100%
  display: block
  float: left
  font-size: 17px
  font-weight: bold
  margin-top: 22px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  &:hover
    color: $color-grey

.item_header__price
  float: right
  width: 40%
  text-align: right
  display: block
  color: $color-green
  font-weight: bold
  font-size: 47px
  margin: 0


.item_body
  width: 100%

.image__container
  padding-top: 20px
  padding-bottom: 40px
  margin-bottom: 30px
  height: 450px
  overflow: hidden

.item_body__image
  max-width: 90%
  margin: 0 auto
  display: block
  overflow: hidden
