@import 'variables'


.title-big
  width: 49%
  float: left
  font-size: 36px
  padding: 10px 0

.title-small
  width: 41%
  float: right
  font-size: 36px
  padding: 10px 0


.l-grid
  max-width: 1376px
  width: 95%
  margin: 0px auto


#item__id_1
  width: 51% !important
  .show_for_side
    display: none



@for $i from 2 through 5
  ##{item__id}_#{$i}
    width: 40% !important
    height: 250px !important
    overflow: hidden
    margin-left: 8%
    margin-bottom: 10px


    .show_for_side
      display: block
      font-size: 15px
      color: #000
      float: right
      width: 50%
    img
      max-width: 100%
      margin: 10px auto
      height: 145px


    .item_header__price, .tabs
      display: none

    .item_header__link
      width: 100%

    .image__container
      height: auto
      margin: 0
      padding: 10px
      width: 50%
      float: left

#item__id_6
  width: 51% !important
  overflow: hidden
  margin-top: 30px

.show_for_side
  display: none

.side_price
  font-size: 40px
  color: $color-green
  font-weight: bold
  text-align: center
  height: 70px
  padding-top: 10px

.js_details_button
  text-align: center
  text-decoration: none
  padding: 15px 25px
  background: $color-green
  display: block
  width: 100px
  color: #fff
  border-radius: 5px
  margin: 20px auto
  border: 1px solid #3b9c98
  box-shadow: inset 0 1px 0 #5fc7be
  &:hover
    box-shadow: inset 0 1px 0 #316861

@for $i from 7 through 10
  ##{item__id}_#{$i}
    width: 40% !important
    height: 250px !important
    overflow: hidden
    margin-left: 8%
    margin-bottom: 10px

    .show_for_side
      display: block
      font-size: 15px
      color: #000
      float: right
      width: 50%


    img
      max-width: 100%
      margin: 0 auto
      height: 145px


    .item_header__price, .tabs
      display: none

    .item_header__link
      width: 100%

    .image__container
      height: auto
      margin: 0
      padding: 0
      width: 50%
      float: left
