@import 'variables'

.twitter_avatar
  border-radius: 3px
  float: left
  width: 14%

.twitter_content
  float: right
  width: 84%
  font-size: 14px
  color: #000

.soc_tabs_twitter
  border-left: 1px solid $color-blue
  padding-left: 5px
  margin-left: -10px

.tweet
  padding-bottom: 10px
  margin-bottom: 10px
  border-bottom: 1px solid #ccc
  &:last-child
    border-bottom: 0

.twitter_user_name
  font-size: 16px
  font-weight: bold
  float: left
  width: 70%

.twitter_time
  float: right
  width: 30%
  color: #707070
  font-size: 13px

.twitter_text
  margin-top: 10px

.twitter_link
  font-size: 14px
  color: #0ea4dc
