@import 'variables'

header
  background: #fff
  width: 100%
  box-shadow: 0 1px 2px #e2e7ee
  padding: 10px

.l-SearchResults
  background: #ecf0f6

.header-logo
  float: left
  width: 100px

.header-logo--image
  width: 100px

.header-search
  padding-top: 10px
  width: 600px

.header-search-icon
  margin-left: 30px
  margin-right: 10px

  float: left
  width: 23px
  height: 23px
  background-image: image-url('search-black.png')
  background-repeat: no-repeat
  background-size: 23px 23px
  background-position: center center
  position: relative
  top: 5px

.header-search--input
  border: 1px solid #ecf0f6
  outline: none
  font-size: 24px
  width: 300px
  padding: 5px
  border-radius: 5px

  &:focus, &:hover
    background: #fffcdd


.search-input-description
  font-size: 24px
  color: $color-grey

.header-search--select
  width: 300px
  border: 0
  outline: none
  font-size: 24px
  background: #fff
  border-radius: 0
  padding: 5px
  appearance: none
  -webkit-appearance: none
  background-image: image-url('select-arrow.png')
  background-repeat: no-repeat
  background-position: 90% center

  &:focus, &:hover
    background-color: #fffcdd


.header-nav
  width: 262px
  float: right
  text-align: right

  > ul
    list-style-type: none
    padding-left: 0
    > li
      display: inline

      .header-nav--link
        text-decoration: none
        color: #000
        padding: 10px
        &:hover
          background-color: #fffcdd
