= form_tag index_home_path, :method => 'get', :id => "search" do
  = text_field_tag :query, params[:query], placeholder: "Search Query"
  = select_tag("index",   options_for_select(@index_array))
  = submit_tag "Search", :name => nil, id: 'search'
%br
%br
  %hr
  .amazon-items
    - if @items_iterator
      - @items_iterator.each do |key, val|
        %p= key
        .hide= @items_val = val
      .hide= i = 0
      -@items_val.each do |k|
        .hide
          =i=  i + 1
        %div{ :class=> 'amazon_item'}
          =link_to k['ItemAttributes']['Title'],k['DetailPageURL']
          %p= k['ItemAttributes']['Brand']
          - if k['LargeImage']
            = image_tag k['LargeImage']['URL']
            = @idd = k['LargeImage']['URL']
          - else
            %p='No photo for this image'
          %strong=k['SalesRank']
          .reviews
            - if k['EditorialReviews']
              - k['EditorialReviews']['EditorialReview'].each_with_index do |a, index|
                .review= a[1]
          - if k['OfferSummary'] && k['OfferSummary']['LowestNewPrice']
            %p= k['OfferSummary']['LowestNewPrice']['FormattedPrice']
          - else
            %p='$0'
          =link_to "Get Social", request.url+"&stw=#{k['ItemAttributes']['Title']}", id:'get_social', class:i.to_s+'_social_button', :remote => true
          %hr
          %div='divider'
          %hr
            %div{class:i.to_s+'_socials_feed'}
          :javascript
            $(document).ready(function(){
                $('.#{i.to_s}_social_button').click(function(){
                    localStorage.setItem('item_count', #{i});
                });
            });




%br

.social
  .upload
    %h1 UPLOAD
  %br
  .tweets
  %br
  .instagram
  %br
  .youtube

%hr

:javascript
  $('a').click(function(){
      $('.upload').show();
  });
