// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tweets_block {

  h2 {
    font-size: 48px;
    color: #000;
  }

  color: #fff;
  font-size: 0;

  p {
    font-size: 16px;
    color: #000;
  }

  strong {
    font-size: 16px;
    color: #000;
  }
}

.hide {
  display: none;
}

.image {
  color: #000;
  font-size: 16px;
}



.reviews {
  .review:last-child, .review:first-child {
    display: none;
  }
}

.upload {
  display: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}
