@import 'variables'

.l-wrapper
  background: $background-green
  height: 100%
  overflow: hidden
  width: 100%


.animate
  overflow: hidden
  position: absolute
  top: 0
  width: 25%
  border-right: 5px solid #0f314c
  border-left: 5px solid #0f314c
  height: 100%

  z-index: -1
  background: image-url('an-column.png') repeat-y #0f314c
  background-size: 100%
  background-position: 0 0
  animation: test 24s linear
  -webkit-animation: test 24s linear
  animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite
  &.animate-one
    left: 25%
    animation: test 28s linear
    -webkit-animation: test 28s linear
    animation-iteration-count: infinite
    -webkit-animation-iteration-count: infinite
  &.animate-second
    left: 50%
    animation: test 26s linear
    -webkit-animation: test 26s linear
    animation-iteration-count: infinite
    -webkit-animation-iteration-count: infinite
  &.animate-third
    left: 75%
    animation: test 30s linear
    -webkit-animation: test 30s linear
    animation-iteration-count: infinite
    -webkit-animation-iteration-count: infinite
.search
  position: relative
  top: 20%
  width: 705px
  margin: 0 auto

.search--logo-container
  float: left
  width: 50%

.search--logo-image
  width: 227px

.search--description
  float: right
  width: 50%
  text-align: right
  color: #fff
  font-size: 22px
  margin-top: 80px



.search-body
  margin-top: 20px
  box-shadow: 0 1px 1px #439491
  border-radius: 5px
  width: 705px

  .search-reset
    margin: 0
    border: 0
    outline: none
    border-radius: 0
    appearance: none
    -webkit-appearance: none
    padding: 20px
    display: block
    float: left
    font-size: 14px


  .search-input
    width: 599px

    border-bottom-left-radius: 5px
    border-top-left-radius: 5px

    box-shadow: inset 0 1px 0px #cfcfcf

  .search-select
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    width: 200px
    box-shadow: inset 0 1px 0px #ccc
    background: #fff
    text-align: center
    padding: 20px 5px
    background-image: image-url('select-arrow.png')
    background-repeat: no-repeat
    background-position: 80% center

  .search-submit
    width: 106px
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    box-shadow: inset 0 1px 0px #cf6c05
    background-image: image-url('search.png')
    background-repeat: no-repeat
    background-color: $orange-dark
    background-position: 10px center
    background-size: 14px 14px
    color: #fff
    transition: background-color 0.1s ease

    &:hover
      background-color: $orange-light
